alaahamed - CSharpAssignment/Source/NationalCriminals/Service References/NationalCriminalsWcf/NationalCriminals.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NationalCriminals" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62689/NationalCriminals.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62689/NationalCriminals.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62689/NationalCriminals.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NationalCriminalsBusiness.Entities" />
      <xsd:import schemaLocation="http://localhost:62689/NationalCriminals.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NationalCriminalsBusiness.Enums" />
      <xsd:import schemaLocation="http://localhost:62689/NationalCriminals.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/NationalCriminalsBusiness" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INationalCriminalSvc_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="INationalCriminalSvc_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="INationalCriminalSvc_AddCriminal_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCriminal" />
  </wsdl:message>
  <wsdl:message name="INationalCriminalSvc_AddCriminal_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCriminalResponse" />
  </wsdl:message>
  <wsdl:message name="INationalCriminalSvc_SearchCrininals_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCrininals" />
  </wsdl:message>
  <wsdl:message name="INationalCriminalSvc_SearchCrininals_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCrininalsResponse" />
  </wsdl:message>
  <wsdl:message name="INationalCriminalSvc_GetUserInstanceFromDb_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInstanceFromDb" />
  </wsdl:message>
  <wsdl:message name="INationalCriminalSvc_GetUserInstanceFromDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInstanceFromDbResponse" />
  </wsdl:message>
  <wsdl:portType name="INationalCriminalSvc">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/INationalCriminalSvc/AddUser" message="tns:INationalCriminalSvc_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INationalCriminalSvc/AddUserResponse" message="tns:INationalCriminalSvc_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCriminal">
      <wsdl:input wsaw:Action="http://tempuri.org/INationalCriminalSvc/AddCriminal" message="tns:INationalCriminalSvc_AddCriminal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INationalCriminalSvc/AddCriminalResponse" message="tns:INationalCriminalSvc_AddCriminal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCrininals">
      <wsdl:input wsaw:Action="http://tempuri.org/INationalCriminalSvc/SearchCrininals" message="tns:INationalCriminalSvc_SearchCrininals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INationalCriminalSvc/SearchCrininalsResponse" message="tns:INationalCriminalSvc_SearchCrininals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInstanceFromDb">
      <wsdl:input wsaw:Action="http://tempuri.org/INationalCriminalSvc/GetUserInstanceFromDb" message="tns:INationalCriminalSvc_GetUserInstanceFromDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INationalCriminalSvc/GetUserInstanceFromDbResponse" message="tns:INationalCriminalSvc_GetUserInstanceFromDb_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INationalCriminalSvc" type="tns:INationalCriminalSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/INationalCriminalSvc/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCriminal">
      <soap:operation soapAction="http://tempuri.org/INationalCriminalSvc/AddCriminal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCrininals">
      <soap:operation soapAction="http://tempuri.org/INationalCriminalSvc/SearchCrininals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInstanceFromDb">
      <soap:operation soapAction="http://tempuri.org/INationalCriminalSvc/GetUserInstanceFromDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NationalCriminals">
    <wsdl:port name="BasicHttpBinding_INationalCriminalSvc" binding="tns:BasicHttpBinding_INationalCriminalSvc">
      <soap:address location="http://localhost:62689/NationalCriminals.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>