alaahamed - CSharpAssignment/Source/NationalCriminals/Service References/NationalCriminalsWcf/NationalCriminals3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62689/NationalCriminals.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NationalCriminalsBusiness.Entities" />
  <xs:import schemaLocation="http://localhost:62689/NationalCriminals.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/NationalCriminalsBusiness" />
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NationalCriminalsBusiness.Entities" minOccurs="0" name="user" nillable="true" type="q1:UserProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCriminal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NationalCriminalsBusiness.Entities" minOccurs="0" name="criminal" nillable="true" type="q2:CriminalProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCriminalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCriminalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCrininals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NationalCriminalsBusiness" minOccurs="0" name="searchCriteria" nillable="true" type="q3:CriminalSearchCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCrininalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchCrininalsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInstanceFromDb">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NationalCriminalsBusiness.Entities" minOccurs="0" name="user" nillable="true" type="q4:UserProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInstanceFromDbResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NationalCriminalsBusiness.Entities" minOccurs="0" name="GetUserInstanceFromDbResult" nillable="true" type="q5:UserProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>